html, body {
  margin: 0px;
}

.top {
  flex: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #D3D3D377;
  border-top: 3px solid #423c52;
}

.top button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
  border: none;
  font-size: 40px;    
  margin-left: 0;
  padding: 20px;  
}

.top button:hover , .list-top button:hover, .note-head button:hover, .note-buttons button:hover{
  background-color: #423c52;
  cursor: pointer;
  color: white;
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.name h1 {
  font-size: 30px;
  font-family: "Trebuchet MS";
  margin: 0px;
  font-weight: bold;
}

small {
  font-size: 10px;
  font-family: "Trebuchet MS";
  margin: 0px;
  color: rgb(135, 135, 135);
  font-weight: bold;
}

.page {
  flex: auto;
  display: flex;
  flex-direction: row;
  height: 79vh;
}

.list{
  border-right : 1px solid #D3D3D377;
  display: block;
}

.list-note {
  padding: 5px;
  font-family: "Trebuchet MS" ;
}

.active {
  background-color: #423c52;
  color: white;
  padding: 5px;
  font-family: "Trebuchet MS" ;
}

.list-top {
  flex: auto;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #D3D3D377;
}

h2 {
  font-size: 25px;
  font-family: "Trebuchet MS";
  font-weight: bold;
  margin: 0;
  padding-left: 5px;
}

.add {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
  border: none;
  font-size: 20px;    
  margin-left: 150px ;
  font-weight: bold;
  padding: 10px;  
}

.note {
  background-color: bisque;
  min-height: 70px;
}

.note-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.note-head {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-bottom: 1px solid #D3D3D377;
  justify-content: space-between;
  align-items: center;
}

.note-head #title {
  padding-left: 10px;
  color: black;
  margin-right: 10px;
  font-weight: bold;
  font-size: 30px;
}

.note-head button {
  border: none;
  margin: none;
  background-color: transparent;
  padding: 30px;
}

.note-buttons button{
  border: none;
  outline: none;
  background-color: transparent;
  padding: 12px;
  font-size: 15px;
}

.note-buttons {
  border-bottom: 1px solid #D3D3D377;
}

.note-body #link {
  padding: 9px;
  padding-bottom: 12px;
}

.note-buttons select {
  border: none;
  outline: none;
  background-color: transparent;
  width: auto;
}

.note-body {
  flex: 1;
  display: flex;

}

.note-body > div {
  flex: 1; 
}
